.app {
  &__container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    justify-items: center;
  };
  &__entry-field {
    display: grid;
  }
}